In [3]:
print ("Hello World")

Hello World

# Markdown in Jupyter Notebook

In [1]:
# (Header 1, title)

## (Header 2, major headings)

### (Header 3, subheadings)

#### (Header 4)

##### (Header 5)

###### (Header 6)``

>This is good
<blockquote>This is good</blockquote>

<code>Python
str = "This is a block level code"
print(str)
</code>

<b>This is bold text </b> 
<u>This is bold text</u>
__ This is bold text

---

<hr>

<ol>
<li>Fish</li>
<li>Eggs</li>
<li>Cheese</li>
</ol>

| Syntax      | Description |
| ----------- | ----------- |
| Header      | Title       |
| Paragraph   | Text        |

# Q1
#### display a table in markedown to show student name age and city show 5 example students

| Name | Age | City |
|---|---|---|
| saman | 18 | moratuwa |
| nimal | 21 | panadura |
| samanthi | 19 | Rathmalana |
| kamal | 20 | Nugegoda  |
| nimshi | 22 | Kurunegala |

# Python programming language

In [ ]:
x = 5           # integer
y = 3.14        # float
name = "Alice"  # string
is_student = True  # boolean

# Q2
#### write a program to display  You are an adult. when the age is over 18 and if the age is under 18 You are a minor.

In [ ]:
age = 18
if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

## Loops

### For Loop:

In [ ]:
for i in range(5):
    print(i)  # Prints numbers from 0 to 4

### While Loop:

In [ ]:
count = 0
while count < 5:
    print(count)
    count += 1  # Equivalent to count = count + 1

# Q3
### write a Python program to display a triangle from star marks <br>

###### *###### **
###### 
> 
###### r# *###### *br>****

def print_triangle(rows):
    for i in range(1, rows + 1):
        print('*' * i)

def main():
    try:
        rows = int(input("Enter the number of rows for the triangle: "))
        if rows > 0:
            print_triangle(rows)
        else:
            print("Please enter a positive integer.")
    except ValueError:
        print("Invalid input. Please enter an integer.")

if __name__ == "__main__":
    main()

In [6]:
def print_triangle(rows):
    for i in range(1, rows + 1):
        print('*' * i)

print_triangle(10)

*
**
***
****
*****
******
*******
********
*********
**********

## Functions

In [ ]:
def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))  # Outputs: Hello, Alice!

## Lists and Dictionaries

### Lists:

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])  # Outputs: banana

### Dictionaries:

In [ ]:
person = {"name": "Alice", "age": 25}
print(person["name"])  # Outputs: Alice

## Type Conversion

In [8]:
birth_year = input ("Enter your birth year:")
int(birth_year)
age = 2024 - int(birth_year)
print(age)

Enter your birth year: 1991

33

In [ ]:
int()
float()
bool()
str()

# Arithmetic Operators

In [20]:
print (10 +3) #13
print (10 -3) # 7
print (10 *3) # 30
print (10 /3) # 3.3333333 flot
print (10 //3) #3 int
print (10 % 3) #1
print (10 **3) #1000

13
7
30
3.3333333333333335
3
1
1000

# Q4
### Write a program that prints the numbers from 1 to 100 and for multiples of ‘3’ print “Fizz” instead of the number and for the multiples of ‘5’ print “Buzz”.

In [11]:
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print("Fizz Buzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz Buzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz Buzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz Buzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz Buzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz Buzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz Buzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [25]:
#augmented assignment operator
x=10  
x=x+3
# x += 3 
# x -= 3
# x *= 3

print (x)

13

In [ ]:
# Operation Precedence
y = 10 + 3 * 2
y = (10 + 3) * 2

# Comparison Operators

In [33]:
# z = 3 > 2 #True
# z =  3 < 2 #
# z = 3 >= 2 #True
# z = 3 <= 2 #
# z = 3 == 2 # False
# z = 3 != 2 # True
print (z)

True

# Q5
####.create a Python program to sort an array in descending order based on the values

In [12]:
def sort_descending(arr):
    # Sort the array in descending order
    arr.sort(reverse=True)
    return arr

def main():
    try:
        # Get the array from the user
        user_input = input("Enter a list of numbers separated by spaces: ")
        # Convert the input string to a list of floats
        arr = [float(x) for x in user_input.split()]
        
        # Sort the array in descending order
        sorted_arr = sort_descending(arr)
        
        print("Sorted array from largest to smallest:")
        print(sorted_arr)
    except ValueError:
        print("Invalid input. Please enter numerical values separated by spaces.")

if __name__ == "__main__":
    main()

Enter a list of numbers separated by spaces:  10 11 8 12 13 1 2

Sorted array from largest to smallest:
[13.0, 12.0, 11.0, 10.0, 8.0, 2.0, 1.0]

# Logical Operators

In [34]:
price = 5
print (price > 10 and price <30)  # And 
print (price > 10 or price <30)   # Or 
print (not price > 10)            # Not

True

# If Statement

In [35]:
temperature = 35
if temperature > 30:
    print ( "It's a hot day") # talk about string with single cote and duble cote need to have double cotes inside it can have singel cote

It's a hot day

# Q2
####.write a Python program to convert yards to meters and meters to yards. first, the user needs to enter the value and then  conversion  yard or meter then it should convert to the selected one

In [1]:
def yards_to_meters(yards):
    return yards * 0.9144

def meters_to_yards(meters):
    return meters / 0.9144

def main():
    try:
        value = float(input("Enter the value to be converted: "))
        conversion_type = input("Enter 'yard' to convert from yards to meters or 'meter' to convert from meters to yards: ").strip().lower()

        if conversion_type == 'yard':
            converted_value = yards_to_meters(value)
            print(f"{value} yards is equal to {converted_value:.4f} meters.")
        elif conversion_type == 'meter':
            converted_value = meters_to_yards(value)
            print(f"{value} meters is equal to {converted_value:.4f} yards.")
        else:
            print("Invalid conversion type. Please enter 'yard' or 'meter'.")
    except ValueError:
        print("Invalid input. Please enter a numerical value.")

if __name__ == "__main__":
    main()

Enter the value to be converted:  100
Enter 'yard' to convert from yards to meters or 'meter' to convert from meters to yards:  yard

100.0 yards is equal to 91.4400 meters.